body {
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
h1 {
  color: #b88b53;
}
h2 {
  border: 1px solid #735426;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 20px;
}
p {
  line-height: 30px;
  font-size: 20px;
}
button {
  display: block;
  margin: 20px auto;
  background: #735426;
  color: #ffffff;
  font-size: 17px;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}
button:hover {
  opacity: 0.89;
  cursor: pointer;
}
.general {
  text-align: center;
}
.first-link {
  font-size: 18px;
  text-decoration: none;
  color: #b88b53;
  font-weight: bolder;
}
.first-link:hover {
  text-decoration: underline;
}
.footer {
  text-align: center;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 60px;
}
.vani {
  color: #ff9a3c;
}
.straw {
  color: #b20917;
}
.peach {
  color: #baa45c;
}
